{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block title %}Cocina{% endblock %}


{% block main %}
    <div class="row">
        <div class="col-md-9 offset-md-1">

            {% if pedidos %}
                <h2>Pedidos</h2>
                <div class="row">
                {% for pedido in pedidos %}
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body table-responsive">
                                <h5 class="card-title">#{{ pedido.id_pedido }}</h5>
                                <h5 class="card-title"> Mesa: {{ pedido.get_mesa_display }}</h5>
                                {% if pedido.items.all %}
                                    <table class="table table-sm" id="items_table">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Item</th>
                                            <th scope="col">Especificacion</th>
                                            <th scope="col">Llevar</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in pedido.items.all %}
                                            <tr>
                                                <td>{{ item.cantidad }}</td>
                                                <td>{{ item.producto.nombre }}</td>
                                                <td>{{ item.especificacion }}</td>
                                                {% if item.llevar %}
                                                    <td>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                             viewBox="0 0 24 24">
                                                            <path fill="none" d="M0 0h24v24H0z"/>
                                                            <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
                                                        </svg>
                                                    </td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}

                                <a class="btn btn-primary"
                                   href="{% url 'pedido_update_estado_completo' pedido.id_pedido %}"
                                   role="button">Completar</a>
                                {#                            <a class="btn btn-warning"#}
                                {#                               href="#"#}
                                {#                               role="button">Nose puede completar</a>#}
                            </div>
                        </div>
                    </div>



                {% endfor %}
            {% else %}
                <h2>No hay pedidos por el momento</h2>
            {% endif %}


            </div>
        </div>
    </div>
    <script type="application/javascript">
        var url = "{% url 'get_changes_pedidos' %}";

        var audio = new Audio('{% static 'sounds/ding.mp3' %}');
        audio.onended = function () {
            location.reload(true);
        };

        (function worker() {
            $.ajax({
                url: url,
                success: function (data) {
                    if (data["status"]) {
                        $.ajax({
                            url: url,
                            method: "POST", beforeSend: function (xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                            },
                            success: function (data) {
                                console.log(data);
                                {#var audio = new Audio('{% static 'sounds/ding.mp3' %}');#}
                                {#audio.onended = function () {#}
                                {#location.reload(true);#}

                                audio.play();
                            }
                        })
                    }
                }, complete: function () {
                    setTimeout(worker, 5000);


                }
            });
        })();


    </script>

{% endblock %}
