{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'js/date/date.js' %}"></script>
    <script src="{% static 'js/date/date-es-EC.js' %}"></script>
{% endblock %}
{% block title %}Nuevo Pedido{% endblock %}


{% block main %}
    <br>

    <div class="row">
        <div class="col-md-4">
            {#    TODO make this form look better#}

            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Mesa</label>
                </div>
                <select class="custom-select" id="mesa-select" {% if pedido.pagado %}disabled{% endif %}>>
                    {% for  key, value in mesas %}
                        <option {% if pedido.mesa == key %}selected{% endif %} value="{{ key }}">{{ value }}</option>

                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Orden #</span>
                </div>
                <input type="text" class="form-control" aria-label="2.51" aria-describedby="inputGroup-sizing-sm"
                       value="{% if pedido %}{{ pedido.id_pedido }}{% endif %}" readonly id="id-orden">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Fecha: </span>
                </div>
                <input type="text" class="form-control" aria-label="2.51" aria-describedby="inputGroup-sizing-sm"
                       readonly id="fecha">
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-5">
            <h2>Productos disponibles</h2>
            <div id="accordion" style="overflow-y: scroll; height: 500px">

            </div>
        </div>
        <div class="col-md-7">
            <h2>Pedido</h2>
            <div class="table-responsive" style="overflow-y: scroll; height: 500px">

                <table class="table table-sm" id="items_table">
                    <thead>
                    <tr>
                        <th scope="col" style=" display:none;">Codigo</th>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Especificacion</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Llevar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if pedido %}
                        {% for item in pedido.items.all %}
                            <tr>
                                <td style="display:none;" class="id-item">{{ item.producto.id_producto }}</td>
                                <td>
                                    <input class="cantidad-item" type="number" min="1" pattern="[0-9]"
                                           value="{{ item.cantidad }}" style="width: 40px">
                                </td>
                                <td>{{ item.producto.nombre }}</td>
                                <td class="esp-item" contenteditable="true">{{ item.especificacion }}</td>
                                <td class="precio-item">{{ item.precio }}</td>
                                <td class="sub-item">{{ item.precio }}</td>
                                <td style="width: 10px">
                                    {% if item.llevar %}
                                        <input type="checkbox" checked class="llevar"
                                               {% if pedido.pagado %}disabled{% endif %}>

                                    {% else %}
                                        <input type="checkbox" class="llevar"
                                               {% if pedido.pagado %}disabled{% endif %}>

                                    {% endif %}
                                </td>
                                <td>
                                    <button type="button" id="btn-eliminar" class="btn btn-danger btn-eliminar-fnc"
                                            {% if pedido.pagado %}disabled{% endif %}>Eliminar
                                    </button>
                                </td>

                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr id="initialmessage">
                            <td align="center" colspan="6">Agrega nuevos productos ahora!</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-2 offset-md-6 col-sm-12">
            <button type="button" class="btn btn-info btn-lg btn-block" id="verificar" onclick="enviarOrden()"
                    {% if pedido.pagado %}disabled{% endif %}>
                Solicitar
            </button>
        </div>
        <div class="col-md-2  col-sm-12">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="cobrar()"
                    {% if pedido.pagado %}disabled{% endif %}>Cobrar
            </button>
        </div>

        <div class="col-md-2  col-sm-12">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Total</span>
                </div>
                <input type="text" class="form-control" aria-label="2.51" aria-describedby="inputGroup-sizing-sm"
                       value="{% if pedido %}{{ pedido.total }}{% else %}0,00{% endif %}" readonly id="total">
            </div>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Dinero</span>
                </div>
                <input type="number" class="form-control" aria-label="2.51" aria-describedby="inputGroup-sizing-sm"
                       id="dinero" min="0" {% if pedido.pagado %}disabled{% endif %}>
            </div>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Vuelto</span>
                </div>
                <input type="number" class="form-control" aria-label="2.51" aria-describedby="inputGroup-sizing-sm"
                       readonly id="vuelto">
            </div>
        </div>

    </div>

    <script type="application/javascript">
        $(document).ready(function () {
            var today = new Date().toString('d - MMMM - yyyy');
            $("#fecha").val(today);
            $("#id_mesa").addClass("custom-select");
            obtenerProductos();
            $(".btn-eliminar-fnc").click(function () {
                deleteItem(this);
                verificarTotal();
            });

            $(".cantidad-item").change(function () {
                var cantidad = $(this).val();
                var precio = $(this).closest('tr').find(".precio-item").text();
                precio = parseFloat(precio.replace(",", "."));
                var subtotal = cantidad * precio;
                subtotal = subtotal.toFixed(2);
                $(this).closest('tr').find(".sub-item").text(subtotal.replace(".", ","));
                verificarTotal();
            })
        });

        function deleteItem(x) {
            var $row = $(x).closest("tr");      // Finds the closest row <tr>
            $row.remove();
        }


        function addItem(event) {
            if ($("#initialmessage").length) {
                $("#initialmessage").remove()
            }
            var id = event.data.id;
            var nombre = event.data.nombre;
            var precio = event.data.precio;

            $("#items_table").find('tbody')
                .append($('<tr>')
                    .append($('<td>')
                        .append(id)
                        .attr('style', 'display:none;')
                        .addClass("id-item")
                    )
                    .append($('<td>')
                        .append($('<input>')
                            .addClass("cantidad-item")
                            .attr('type', 'number')
                            .attr('style', 'width: 40px')
                            .attr('min', '1')
                            .attr('pattern', '[0-9]')
                            .val(1)
                            .change(function () {
                                var cantidad = $(this).val();
                                var precio = $(this).closest('tr').find(".precio-item").text();
                                precio = parseFloat(precio.replace(",", "."));
                                var subtotal = cantidad * precio;
                                subtotal = subtotal.toFixed(2);
                                $(this).closest('tr').find(".sub-item").text(subtotal.replace(".", ","));
                                verificarTotal();
                                verificarTotal();
                            })
                        )
                    )
                    .append($('<td>')
                        .append(nombre)
                    )
                    .append($('<td>')
                        .attr('contenteditable', 'true')
                        .addClass("esp-item")
                    )
                    .append($('<td>')
                        .append(precio)
                        .addClass("precio-item")
                    )
                    .append($('<td>')
                        .append(precio)
                        .addClass("sub-item")
                    )
                    .append($('<td>')
                        .attr("style", "width: 10px")
                        .append($('<input>')
                            .attr("type", "checkbox")
                            .addClass("llevar"))
                    )
                    .append($('<td>')
                        .append($('<button>')
                            .text('Eliminar')
                            .attr("type", "button")
                            .attr("id", "btn-eliminar")
                            .attr("class", "btn btn-danger")
                            .click(function () {
                                    deleteItem(this);
                                    verificarTotal();
                                }
                            )
                        )
                    )
                )
            ;
            verificarTotal();
        }


        function prepareItems() {
            var items = [];
            $('#items_table tr').each(function (a, b) {
                {#console.log(a);#}
                {#console.log(b);#}
                if (a > 0) {
                    var id = $('.id-item', b).text();
                    var cantidad = $('.cantidad-item', b).closest("input").val();
                    var esp = $('.esp-item', b).text();
                    var precio = $('.precio-item', b).text();
                    var llevar = $('.llevar', b)[0].checked;
                    if (cantidad > 0) {
                        items.push({
                            "id": id,
                            "cantidad": cantidad,
                            "esp": esp,
                            "precio": precio,
                            "llevar": llevar,
                        });
                    }
                }

            });
            {#console.log(items);#}
            return items;
        }

        function verificarTotal() {
            var total = 0.0;
            $('#items_table tr').each(function (a, b) {
                if (a > 0) {

                    var subtotal = $('.sub-item', b).text();
                    subtotal = parseFloat(subtotal.replace(",", "."));
                    total += subtotal;
                }

            });
            {#console.log(total);#}
            total = total.toFixed(2);
            $('#total').val(total.replace(".", ","));
        }


        function enviarOrden() {
            $("#verificar").attr("disabled", "disabled");
            var data = {};
            data["items"] = prepareItems();
            data["mesa"] = $("#mesa-select").val();
            data["total"] = $("#total").val();
            data["total"] = parseFloat(data["total"].replace(",", "."));
            var id = $("#id-orden").val();
            if (id !== "") {
                data["id"] = id;
            }
            console.log(data);
            if (data["items"].length > 0) {
                $.ajax({
                    method: "POST",
                    url: " {% url 'pedido_nuevo_api' %}",
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    },
                    success: function (data) {
                        alert("Pedido añadido");
                        $("#verificar").removeAttr("disabled");
                        console.log(data);
                        $("#id-orden").val(data["id-orden"]);
                    }, error: function (error) {
                        console.log(error);
                    }

                });
            } else {
                alert("Debe seleccionar items para el pedidos");
            }


        }

        function obtenerProductos() {
            $.ajax({
                method: "GET",
                url: " {% url 'productos_todos_api' %}",
                dataType: 'json',
                contentType: 'application/json',
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (data) {
                    var i = 0;
                    for (var index_categoria in data["categorias"]) {
                        var cat_name_id = "collapse" + i.toString();
                        var cat_name = data["categorias"][index_categoria]["nombre"];

                        $("#accordion")
                            .append($('<div>')
                                .addClass('card')
                                .append($('<div>')
                                    .addClass('card-header')
                                    .attr('id', 'heading' + cat_name_id)
                                    .append($('<h2>')
                                        .addClass('mb-0')
                                        .append($('<button>')
                                            .attr('data-toggle', 'collapse')
                                            .attr('aria-expanded', 'true')
                                            .attr('aria-controls', cat_name_id)
                                            .attr('data-target', '#' + cat_name_id)
                                            .attr('style', 'font-size : 20px; ')
                                            .addClass('btn btn-link collapsed')
                                            .append(cat_name)
                                        )))
                            )
                            .append($('<div>')
                                .addClass('collapse')
                                .attr('id', cat_name_id)
                                .attr('aria-labelledby', 'heading' + cat_name_id)
                                .attr('data-parent', '#accordion')
                                .append($('<div>')
                                    .addClass('card-body')
                                ));
                        for (var index_prod in data["categorias"][index_categoria]["productos"]) {
                            var producto = data["categorias"][index_categoria]["productos"][index_prod];
                            {#console.log(producto);#}
                            if (producto["disponible"]) {
                                $('#' + cat_name_id).closest("div").find(".card-body")
                                    .append($('<button>')
                                            .addClass('btn btn-primary btn-lg btn-block')
                                            .append(producto["nombre"] + " (" + producto["precio"] + ")")
                                            .click({
                                                    id: producto["id_producto"],
                                                    nombre: producto["nombre"],
                                                    precio: producto["precio"]
                                                }, addItem
                                            )
                                        {#TODO show display for descripcion#}
                                        {#.mouseenter(function () {#}
                                        {#    console.log(producto["descripcion"])#}
                                        //)
                                    )
                            } else {
                                $('#' + cat_name_id).closest("div").find(".card-body")
                                    .append($('<button disabled>')
                                        .addClass('btn btn-secondary  btn-lg btn-block')
                                        .append(producto["nombre"] + " (" + producto["precio"] + ")")
                                    );
                            }
                        }
                        i++;
                    }


                },
                error: function (error) {
                    console.log(error);
                }

            })
            ;
        }

        function cobrar() {
            var total = $("#total").val();
            total = parseFloat(total.replace(",", "."));
            var dinero = $("#dinero").val();
            console.log(total);
            console.log(dinero);
            console.log(total > dinero);
            if (total > dinero) {
                alert("Dinero no suficiente")
            } else {
                var vuelto = dinero - total;
                console.log(vuelto);
                vuelto = vuelto.toFixed(2);
                $("#vuelto").val(vuelto);
            }
        }
    </script>
{% endblock %}
