{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block title %}Reporte Hoy{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <h2>Resumen</h2>
            {% if total_ventas and item_mas_vendido and item_menos_vendido %}
                <div class="input-group input-group-lg">

                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Total Ventas</span>
                    </div>
                    <input type="text" class="form-control" aria-label="2.51" aria-describedby="inputGroup-sizing-sm"
                           value="{{ total_ventas }}"
                           readonly>
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Item mas vendido</span>
                    </div>
                    <input type="text" class="form-control" aria-label="2.51" aria-describedby="inputGroup-sizing-sm"
                           value="{{ item_mas_vendido.producto__nombre }} ({{ item_mas_vendido.cantidad_prod }})"
                           readonly>
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Item menos vendido</span>
                    </div>
                    <input type="text" class="form-control" aria-label="2.51" aria-describedby="inputGroup-sizing-sm"
                           value="{{ item_menos_vendido.producto__nombre }} ({{ item_menos_vendido.cantidad_prod }})"
                           readonly>
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Promedio de servicio</span>
                    </div>
                    <input type="text" class="form-control" aria-label="2.51" aria-describedby="inputGroup-sizing-sm"
                           value="{{ prom_serv }}" readonly>
                </div>
            {% else %}
                <h3>No existen registros todavia</h3>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Inventario de ventas</h2>
            <div class="table-responsive">

                <table class="table table-sm" id="items_table">
                    <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if items %}
                        {% for item in items %}
                            <tr>
                                <td class="cantidad-item">{{ item.producto__nombre }}</td>
                                <td class="cantidad-item">{{ item.cantidad_prod }}</td>
                                <td class="cantidad-item">{{ item.precio }}</td>
                                <td class="cantidad-item">{{ item.total_aux }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr id="initialmessage">
                            <td align="center" colspan="6">No existen pedidos para generar el reporte!</td>
                        </tr>
                    {% endif %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <h2>Flujo de pedidos</h2>
            <canvas id="myChart" width="1250" height="400"></canvas>
        </div>


    </div>
    <script>


        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: " {% url 'pedidos_frecuencia_api' %}",
                dataType: 'json',
                contentType: 'application/json',
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (data) {
                    {#console.log(data);#}
                    drawLinearChart(data);
                }, error: function (error) {
                    console.log(error);
                }

            });

        });

        function drawLinearChart(data) {

            for (var index in  data["pedidos"]) {
                data["pedidos"][index]["x"] = new Date(data["pedidos"][index]["x"])
            }
            {#console.log(data["pedidos"]);#}
            var ctx = document.getElementById('myChart').getContext('2d');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Cantidad de pedidos ',
                        data: data["pedidos"],
                        backgroundColor: [
                            '#ffbf80',
                        ],
                        borderColor: [
                            '#ff9933',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                maxTicksLimit: 10,
                                precision: 0
                            }
                        }],
                        xAxes: [{
                            type: 'time',
                            distribution: 'series',
                            time: {
                                unit: 'minute'
                            },
                            ticks: {
                                maxTicksLimit: 10
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0
                        }
                    }
                }
            });
        }

    </script>

{% endblock %}